.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  font-size: 18px;
  text-align: center;
  max-width: 1170px;
  padding: 30px 15px;
  margin: 0 auto;
}

button {
  display: inline-block;
  border-radius: 5px;
  min-width: 120px;
  padding: 7px 3px;
  font-family: monospace;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  background-color: #f9f9f9;
  transition: border-bottom-color .2s;
}


