*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
:root {
    --white: #ffffff;
    --green: #acd8ad;
    --grey: #3f4043;
    --blue: #a6d6e0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 135px 18px 42px 40px;

}
.touch{
    position: relative;
    bottom: 7px;
    padding-right: 10px;
}
.header{
    background-color: var(--grey);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-menu{
    display: flex;
    justify-content: left;
    margin-left: 35px;
    color: #bbbcbd;
}
.header-logo{
    margin-right: 40px;
}
.header-menu-li{
    padding-right: 30px;
}
.header-main{
    background-image: url(img/header-fon@1X.png);
    height: 650px;
}
.header-main-text{
    width: 691px;
}
.header-main-text--pizza{
    color: var(--white);
    padding-top: 38px;
    padding-left: 37px;
    text-align: left;
    font-size: 63px;
}
.header-main-text--link{
    color: var(--blue);
    padding-top: 55px;
    padding-left: 38px;
    font-size: 38px;
    text-align: left;
}
.section--function{
    display: flex;
    margin-top: 5px;
}
.section-block{
    background-image: url(img/Pizza-delivery.png);
    background-size: 100%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: var(--white);
}
.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
}
.menu--title{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.menu-title--text{
    font-size: 25px;
    text-align: left;
}
.menu-title-text--ghost{
    font-size: 14pt;
    color: rgba(203, 204, 206, 255);
    text-align: left;
}
.menu-choose{
    display: flex;
    padding-bottom: 20px;
    flex-wrap: nowrap;
}
.menu{
    height: 75px;
    display: flex;
    align-items: center;
}
.menu-text{
    padding-left: 18px;
    font-size: 42px;
    letter-spacing: -1px;
}
.menu--left{
    background-color: var(--grey);
    color: var(--green);

}
.menu--right{
    background-color: var(--green);
    color: var(--white);
}
.grid{
    padding-left: 25px;
}
.menu-food{

    display: flex;
    flex-direction: column;
}
.menu-food--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-m{
    margin-top: 24px;
    letter-spacing: 1.5px;
    font-size: 18px;
}
.menu-frost{
    width: 50px;
    height: 50px;
}
.menu-wine{
    width: 25px;
    height: 50px;
}
.menu-cup{
    width: 60px;
    height: 40px;
}
.menu-beer{
    width: 42px;
    height: 42px;
}
.menu-item{
    margin-top: 37px;
}
.menu-logo{
    padding-right: 12px;
}
.menu-item--list{
    display: flex;
    flex-direction: column;
}
.name-food{
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
}
.menu-list{
    font-size: 27px;
    text-align: left;
}
.price{
    font-size: 26px;
    font-weight: bolder;
}
.footer{
    background-color: var(--green);
    margin-top: 128px;
}
.footer-logo{
    padding-left: 35px;
}
.footer--text{
    padding-right: 35px;
    color: var(--white);
    font-size: 18px;
    text-align: left;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.food-info{
    font-size: 18px;
    padding-top: 16px;
}

.top-padding{
    padding-top: 22px;
}