$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 800px,
        lg: 992px,
        xl: 1200px
);

.carousel img {
  width: 400px;
}

.big-card {
  border: 1px solid black;
}

.small-card {
  border: 1px solid black;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
