$header-height: 60px;

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $header-height;
  padding: 0 20px;

  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);
  background-color: #9c9c9c;

  &__home-link {
    text-decoration: none;
  }

  &__logo {
    height: $header-height * 2 / 3;
    width: $header-height * 2 / 3;

    //g {
    //  fill: white;
    //}
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid white;
    }
  }
}









