.abstract-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) repeat(5, 1fr);
    height: 850px;
    border: 15px solid black;
    grid-gap: 10px;
    background-color: black;
}
.r1c1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
}
.r1c2{
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: white;
}

.r1c3{
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: black;
}
.r1c4{
    grid-column-start: 7;
    grid-column-end: 8;
    background-color: white;
}
.r2c1{
    background-color: white;
}
.r2c3{
    background-color: cornflowerblue;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.r2c4{
    background-color: #f1ad1d;
    grid-column-end: 8;
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}
.r3c1{
    grid-row-start: 3;
    background-color: white;
    grid-row-end: 5;
}
.r3c2 {
    background-color: white;
    grid-column-start: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 7;
}
.r3c3 {
    background-color: white;
    grid-column-start: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 8;
}
.r4c1{
    grid-column: 2/4;
    grid-row: 4/6;
}
.r4c2{
    grid-column: 4/6;
    background-color: white;
}
.r4c3{

}
.r5c4{
grid-area: 5/6/7/8;
    background-color: red;
}
