.gallery-wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 280px;
    grid-gap: 10px;
    justify-content: center;
}

.gallery-item {

}
