.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
}
.nav-bar{
background-color: #3d4543;
    grid-row: 1/3;
}
header {
    background-color: #f1ad1d;
}
main{
    background-color: red;


    padding-top: 5%;
}
.content{
    border: 10px solid black;
    display: grid;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.img-item {
    border: 2px solid black;
    box-sizing: border-box;
}

.nav-bar-content{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}