.check{
    width: 100px;
    height: 100px;
}

.check:checked ~ .circle{
    background-color: grey;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #3a4965;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ;
}

.circle:after {
    content: '';
    width: 50px;
    height: 50px;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(350grad);
    transition: transform 1s;
}

.circle:hover:after {

    transform: rotate(150grad);
}
