.wrapper {
    background-color: black;
    width: auto;
    height: 1000px;

}
.packman{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    flex-direction: column;
}
.food{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: -125px;
    margin-left: 125px;
    animation-name: eat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.packman-top{
    width: 100%;
    height: 50%;
    border-radius: 100px 100px 0 0;
    background-color: yellow;
    transform-origin: bottom center;
    animation-name: animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.packman-bottom{
    width: 100%;
    height: 50%;
    background-color: yellow;
    border-radius: 0 0 100px 100px;
    transform-origin: top center;
    animation-name: animation2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


@keyframes animation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(-35deg);
}
}

@keyframes animation2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(35deg);
    }
}
@keyframes eat
{
    from {
        margin-right: 0;
    }
}
    to {
        margin-right: 300px;
    }