* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.text-block {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}
.text-block-title {
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    margin-bottom: 35px;
}

.text-block-subtitle{
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
}

.text-block::after{
    content: '';
    border-bottom: 3px solid #f1ad1d;
    width: 60px;
    display: inline-block;
    margin-top: 52px;
}
.adv {
    display: flex;
    justify-content: center;
}
.gallery-nav{
    display: flex;
    width: 835px;
    justify-content: space-between;
    margin: 0 auto;
}
.gallery-nav-button{
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 11px;
    background-color: #FFFFFF;
    border: 1px solid black;
    font-size: 14px;
}

.gallery-item{
    width: 270px;
    height: 280px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.gallery-item:hover .gallery-item-info{
    top: 0;

}
.gallery-item-link{
    text-decoration: none;
}
.gallery-item-info{
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    transition: top 0.4s ease;
    top: 100%;
}
.gallery-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1129px;
    margin: 0 auto;
    margin-top: 45px;
}