* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}
.wrapper{
    width: 1192px;
    height: 736px;
    margin: 0 auto;
}
.content{
    display: grid;
    grid-gap: 1px;
    background-color: #d7d7d7;
    border: 20px solid #3a4965;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 680px;

}
.r1c1{
background-color: white;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
    font-size: 18px;
    flex-direction: column;
}
.big-text{
    font-size: 30px;

}
.r1c2{
    background-color: #89c331;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
}
.r1c3{
    background-color: #f04a56;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
}
.r1c4{
    background-color: #20807c;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
}
.r2c2{
    background-color: #fafafa;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}

.price{
    font-size: 60px;
    text-align: left;
    font-weight: bold;
}
.price-month{
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}
.price-month-item2{
    font-size: 18px;
}

.r2c3{
    background-color: #fafafa;
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}
.r2c4{
    background-color: #fafafa;
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}
.r3c1{
    background-color: #f2f2f2;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r3c2{
    background-color: #f2f2f2;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r3c3{
    background-color: #f2f2f2;
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r3c4{
    background-color: #f2f2f2;
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r4c1{
    background-color: #e3e3e3;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r4c2{
    background-color: #e3e3e3;
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r4c3{
    background-color: #e3e3e3;
    grid-column: 4/5;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r5c1{
    background-color: #f2f2f2;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r5c2{
    background-color: #f2f2f2;
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r5c3{
    background-color: #f2f2f2;
    grid-column: 3/4;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r5c4{
    background-color: #f2f2f2;
    grid-column: 4/5;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r6c1{
    background-color: #e3e3e3;
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r6c2{
    background-color: #e3e3e3;
    grid-column: 2/5;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r7c1{
    background-color: #f2f2f2;
    grid-column: 1/2;
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r7c2{
    background-color: #f2f2f2;
    grid-column: 2/3;
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r7c3{
    background-color: #f2f2f2;
    grid-column: 3/4;
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r7c4{
    background-color: #f2f2f2;
    grid-column: 4/5;
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r8c1{
    background-color: #e3e3e3;
    grid-column: 1/2;
    grid-row: 8/9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r8c2{
    background-color: #e3e3e3;
    grid-column: 2/3;
    grid-row: 8/9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r8c3{
    background-color: #e3e3e3;
    grid-column: 3/4;
    grid-row: 8/9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r8c4{
    background-color: #e3e3e3;
    grid-column: 4/5;
    grid-row: 8/9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r9c1{
    background-color: #dddddd;
    grid-column: 1/2;
    grid-row: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r9c2{
    background-color: #eeeeee;
    grid-column: 2/3;
    grid-row: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r9c3{
    background-color: #f4f4f4;
    grid-column: 3/4;
    grid-row: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.r9c4{
    background-color: #eeeeee;
    grid-column: 4/5;
    grid-row: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}
.button{
    height: 50px;
    width: 190px;
    box-shadow: inset 0px -6px 0px rgba(80, 92, 51, 0.17);
    color: #dddddd;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}
.button:hover{
    transition: 1s;
    border-radius: 0px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
.button-item1{
    background-color: #484848;
}
.button-item2{
    background-color: #89c331;
}
.button-item3{
    background-color: #f04a56;
}
.button-item4{
    background-color: #20807c;
}