*{
    margin: 0;
    padding: 0;
}
.center{
    margin: 0 auto;
}
.ramda-js {
    font-size: 80px;
    margin: 0 auto;
    cursor: pointer;
    width: 1280px;
    margin-top: 61px;
    margin-bottom: 45px;
    font-family: "Myriad Pro";
}

.mda {
    color: deepskyblue;
}
.menu-block {
    /* margin-left: 100px; */
    margin: 0 auto;
    width: 1280px;
    height: 69px;
    border: 1px solid #3d4543;
    background-color: #3d4543;
    font-family: "Myriad Pro";

}
.menu-list {
    margin-top: 26px;
}

.menu--text {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    font-family: "Myriad Pro";
}
.slideone {
    padding-left: 203px;
}
.slidetwo{
    padding-left: 42px;
}
.slidethree{
    padding-left: 43px;
}
.slidefour{
    padding-left: 43px;
}
.menu--text:hover {
    color: rgba(255, 255, 255, 255);
    background-color: #33333a;
    /*height: 50px;*/
    /*width: 169px;*/
}
.menu--text2 {
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    display: inline;
    padding-left: 83px;
    margin: 0 auto;
}
.menu--text2:hover {
    color: rgba(255, 255, 255, 255);
    background-color: #33333a;
    margin: 0 auto;
}
.menu--text3 {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    display: inline;
    padding-left: 84px;
    margin: 0 auto;
}
.menu--text3:hover {
    color: rgba(255, 255, 255, 255);
    background-color: #33333a;
}
.menu--text4 {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    display: inline;
    padding-left: 85px;
    margin: 0 auto;
}
.menu--text4:hover {
    color: rgba(255, 255, 255, 255);
    background-color: #33333a;

}

.leftside--menu {
    border: 1px solid #3d4543;
    height: 399px;
    width: 344px;
    float: left;
    /* margin-left: 100px; */
}

.rightside--menu {
    border: 1px solid #3d4543;
    height: 529px;
    width: 885px;
    /* margin-left: 496px; */
    margin-left: 395px;
    margin-top: 300px;
    margin-top: 51px;
}

.text-left--one {
    list-style-type: none;
    padding-top: 30px;
    text-align: left;
    padding-left: 44px;
    color: rgba(72, 88, 99, 255);
    font-size: 29.99244px;
}
.text-left--one:hover {
    background-color: darkgray;
    padding-left: 69px;
    height: 81px;
    width: 275px;
    color: black;
}

.imgramda {
    width: 320px;
    height: 381px;
    overflow: hidden;
}
.scroll{
    padding-left: 297px;
    padding-top: 75px;
}

.imgramda img {
    transition: 1s;
}
.imgramda img:hover{
    transform: scale(1.2);
}

.textside {
    margin-top: 50px;
    /* margin-left: 526px; */
    margin-left: 450px;
    height: 253px;
    width: 820px;
}
.text {
    width: 815px;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    font-family: "Myriad Pro";
}
.text2 {
    width: 820px;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    font-family: "Myriad Pro";
    padding-top: 30px;
}
.menu-footer {
    width: 1280px;
    height: 69px;
    margin-left: 100px;
}

.menu2 {
    border: 1px solid #3d4543;
    background-color: #3d4543;
    font-family: "Myriad Pro";
}

.bottom-block{
    margin-top: 160px;
}
.footerslide{
    margin-left: 44px;
}
.copyright {
    padding-left: 218px;
}

.main-content{
    width: 1280px;
    margin: 0 auto;
}
