.table{
    margin: 30px auto;
    border: 1px solid black;
    border-collapse: collapse;
}
.column {
    width: 20px;
    height: 20px;
    border:1px solid black;
    background-color: white;
}

.column-active{
    background-color: black;
    border:1px solid white;
}

