.wrapper{
}
.content {
    margin: 0 auto;
    background-image: url("Milan_Holidays_Hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1366px;
    height: 768px;
}
.logo{
    background-image: url("logo@1X.png");
    width: 44px;
    height: 46px;
    background-repeat: no-repeat;
    margin-left: 155px;
    margin-top: 49px;
    display: inline-block;
    cursor: pointer;
}
.logo:hover{
    background-image: url("logo@1orange.png");
}

.contacts{
    color: white;
    width: 243px;
    height: 37px;
    float: right;
    margin-top: 57px;
    margin-right: 148px;
    text-align: right;
    font-size: 18px;
    line-height: 5px;
    font-family: Verdana;
}
.number {

}


.logo-text{
color: white;
    padding-left: 15px;
    padding-top: -22px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-family: Verdana;
    display: inline-block;
}
.logo-text:hover{
    color: rgba(242, 101, 34, 255);
}
.logo-text-top{
    font-size: 29px;
    cursor: pointer;
}
.logo-text-bottom{
    font-size: 18px;
    cursor: pointer;
    line-height: 9px;

}
.logoimg{
    margin-top: 49px;
    margin-left: 155px;
    width: 44px;
    height: 46px;
}
.section{
    margin-left: 157px;
    margin-top: 22px;
    width: 1075px;
    height: 506x;

}
/*.part{*/
/*    float: left;*/
/*    margin-right: 69px;*/
/*}*/

.part {
    position: relative;
    background-image: url("1.png");
    width: 307px;
    height: 200px;
    float: left;
    margin-right: 65px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part2 {
    position: relative;
    background-image: url("2.png");
    width: 307px;
    height: 200px;
    float: left;
    margin-right: 64px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part3 {
    position: relative;
    background-image: url("3.png");
    width: 307px;
    height: 200px;
    float: left;
    clear: right;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part4 {
    position: relative;
    background-image: url("4.png");
    width: 307px;
    height: 200px;
    float: left;
    margin-right: 65px;
    margin-top: 93px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part5 {
    position: relative;
    background-image: url("5.png");
    width: 307px;
    height: 200px;
    float: left;
    margin-right: 64px;
    margin-top: 93px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part6 {
    position: relative;
    background-image: url("6.png");
    width: 307px;
    height: 200px;
    float: left;
    margin-top: 93px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    cursor: pointer;
}
.part2 .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.part .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.part3 .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.part4 .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.part5 .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.part6 .none {
    opacity: 0;
    width: 307px;
    height: 63px;
    background-color: rgba(242, 101, 34, 255);
    position: absolute;
    bottom: 0;
}
.none{
    margin-bottom: -100px;
    transition: margin 0.5s linear;
}
.part:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.part2:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.part3:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.part4:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.part5:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.part6:hover .none {
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 0;
}
.price{
    padding-left: 21px;
    padding-bottom: 17px;
    font-family: Verdana;
   color: rgba(255, 255, 255, 255);
}
.from {
    padding-top: 16px;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    clear: right;
}
.slide {

    opacity: .3;
    padding-left: 15px;
    font-size: 14px;
    text-align: left;
}

.euro{
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
}
.view {
    padding-left: 126px;
    font-family: Verdana;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
}


.background-text1{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

.background-text1:hover{
color: rgba(242, 101, 34, 255);
}
.background-text2:hover{
    color: rgba(242, 101, 34, 255);
}
.background-text3:hover{
    color: rgba(242, 101, 34, 255);
}
.background-text4:hover{
    color: rgba(242, 101, 34, 255);
}
.background-text5:hover{
    color: rgba(242, 101, 34, 255);
}
.background-text6:hover{
    color: rgba(242, 101, 34, 255);
}



.img2{
    width: 307px;
    height: 200px;
    position: relative;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
}
.background-text2{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

.img3{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    position: relative;
}
.background-text3{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

/*.part4{*/
/*    float: left;*/
/*    margin-right: 69px;*/
/*    clear: right;*/
/*    padding-top: 55px;*/
/*}*/

.img4{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    position: relative;
}
.background-text4{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

/*.part5{*/
/*    float: left;*/
/*    margin-right: 69px;*/
/*    padding-top: 55px;*/
/*}*/

.img5{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    position: relative;
}
.background-text5{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

/*.part6{*/
/*    float: left;*/
/*    padding-top: 55px;*/
/*}*/
.img6{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, ##c0c0c0 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #c0c0c0 0%, #000000 100%);
    border-image-slice: 1;
    position: relative;
}
.background-text6{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 224px;
    font-family: Verdana;
}

.footer{
    margin-left: 512px;
    margin-top: 61px;
    font-size: 12px;
    font-family: Verdana;
    color: white;
    float: left;
}