.App {
    text-align: center;
}

.header {
    height: 20vh;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 50%;
}

.nav {
    width: 50%;
    justify-content: space-around;
    display: flex;
}



.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
