$header-height: 60px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  //right: 0;
  width: 100%;
  background: white;
  height: $header-height;
  display: flex;

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo-img {
    height: $header-height * 0.8;
    margin: #{$header-height * 0.1} 0;
  }

  &__hamburger {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__menu {
    padding-left: 0;
  }

  &__menu-item {
    font-size: 18px;
    list-style: none;
  }

  &__menu-link {
    color: #353535;
    text-decoration: none;
  }
}

