.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 60px;
  display: flex; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .header__logo-img {
    height: 48px;
    margin: 6px 0; }
  .header__hamburger {
    position: absolute;
    top: 0;
    left: 0; }
  .header__menu {
    padding-left: 0; }
  .header__menu-item {
    font-size: 18px;
    list-style: none; }
  .header__menu-link {
    color: #353535;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
