*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
.clearfix{
    clear: both;
}

a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.wrapper {
    background-image: url("img/back-ground.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header{
    height: 56px;
    /*width: 1439px;*/
    background-color: rgba(0, 0, 0, 0.5);
}
.right-side {
    padding-left: 735px;
    float: left;
}
.icon {
    float: right;
}

.text{
    color: rgba(255, 255, 255, 255);
    font-size: 20px;
    text-align: left;
    padding-left: 152px;
    padding-top: 22px;
    float: left;
    cursor: pointer;
}
.text:hover{
    color: rgba(60, 184, 120, 255);
    cursor: pointer;
    transition: 1s;
}

.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-top: 18px;
}

.sprite-ic_caledar_1X {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
    float: left;
}
.sprite-ic_caledar_1X:hover {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    float: left;
    transition: 1s;
}


.sprite-ic_forum_1X {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
    margin-left: 28px;
    float: left;
}
.sprite-ic_forum_1X:hover {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
    margin-left: 28px;
    float: left;
    transition: 1s;
}

.sprite-ic_journey_1X {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
    float: left;
    margin-left: 28px;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

}
.sprite-ic_journey_1X:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
    float: left;
    margin-left: 28px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    transition: 1s;
}
.login{
    float: left;
    margin-left: 25px;
    margin-top: 19px;
    color: rgba(255, 255, 255, 255);
    letter-spacing: 0px;
}

.green {
    color: rgba(60, 184, 120, 255);
    font-family: Verdana;
    font-size: 14px;
    text-align: left;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 697px;
}

.menu{

    background-color: rgba(255, 255, 255, 255);
    width: 444px;
    height: 584px;
    border-radius: 10px;
}

.menu:before{
    content: "";
    background: rgba(60, 184, 120, 255);
    width: 20px;
    height: 20px;
    margin-top: 29px;
    float: left;
}
.header-menu--sign-up{
    padding-left: 42px;
    padding-top: 29px;
    float: left;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    font-family: Verdana;
}
.header-menu--log-in {
    color: rgba(60, 184, 120, 255);
    font-size: 14px;
    float: left;
    padding-left: 205px;
    font-family: Verdana;
    padding-top: 33px;
}
.header-menu:before {
    width: 18px;
    height: 18px;
    background: rgba(60, 184, 120, 255);
}
.social{
    margin-top: 63px;
    clear: both;
}
.facebook{
    width: 157px;
    height: 46px;
    background: rgba(25, 90, 150, 1);
    float: left;
    margin-left: 62px;
    font-size: 16px;
    cursor: pointer;
}
.facebook:hover{
    background: rgba(38, 75, 150, 1);
    transition: 1s;
}
.facebook-text{
    padding-right: 17px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    font-family: Face;
}
.facebook-text:before{
    content: "f";
    margin-right: 30px;
    padding-right: 15px;
    font-weight: bolder;
    font-size: 20px;
    font-family: Verdana;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}
.google{
    width: 157px;
    height: 46px;
    background: rgba(220, 65, 44, 1);
    float: left;
    margin-left: 8px;
    cursor: pointer;
}

.google:hover{
    background: rgba(195, 65, 44, 1);

}

.google-text{
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    padding-right: 30px;
    font-family: "Verdana";
}
.google-text:before{
    content: "G+";
    margin-right: 15px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.title{
    margin-top: 122px;
    text-align: center;
}

.title {
    overflow: hidden;
    color: rgba(132, 132, 132, 255);
}
.title:before,
.title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 37.2%;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
    border: solid #FFF;
    border-width: 0 10px;
}
.title:before {
    margin-left: -100%;
}
.title:after {
    margin-right: -100%;
}

.input {
    width: 322px;
    margin-left: 62px;
}

input {
    font-size: 14px;
    /*color: rgba(190, 190, 190, 255);*/
    width: 303px;
    height: 46px;
    margin-top: 16px;
}
input:focus{
    /*box-shadow: black;*/
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2)
}
.agreement{
    display: inline-block;
    margin-top: -30px;
}

.terms {
margin-top: 45px;
    margin-left: 62px;
    width: 20px;
    height: 20px;
    cursor: pointer;


}
.create {
    width: 322px;
    height: 46px;
    background: rgba(60, 184, 120, 255);
    margin-left: 62px;
    border-radius: 3px;
    text-align: center;
    margin-top: 14px;
}
.create:hover{
    background: rgba(50, 154, 101, 1);
}
.account{
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}

.input-text{
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
    text-align: left;
    padding-left: 19px;
}