* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
button{
    cursor: pointer;
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
    cursor: pointer;
}

.white {
    color: rgba(255,255,255,1);
}

.green {
    color: #18cfab;
}

.wrapper {
    min-width: 1200px;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}

.search {
    outline: none;
    border: 0;
    font-size: 15px;
    background: transparent;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.background-img-section-first {
    background-image: url("img/Sections-background/section-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.section-first-header{
    background-color: rgba(0,0,0,0.4);
    height: 120px;
    display: flex;
}
.header-logo{
    display: flex;
    align-items: center;
}

.header-logo-title{
    font-size: 20px;
    margin-left: 8px;
    letter-spacing: 0;
}
.header-logo-h{
    font-size: 40px;
    font-weight: bolder;
}

.ham{
    font-weight: bolder;
}
.d16 {
    background-image: url("img/Sections-background/Polygon 1@1X.png");
    height: 67px;
    width: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-li{
    margin-right: 20px;

}
.header-li:hover{
    color: #18cfab;
    box-shadow: 0 60px 0 -8px #18cfab;
}

.header-menu {
    display: flex;
}

.section-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    margin-top: 245px;
    font-weight: bold;
}

.section-title-mid{
    font-size: 70px;
    margin-top: 45px;
    margin-bottom: 35px;
    font-weight: bolder;
}

.section-title-down{
    font-size: 30px;
    color: rgba(255,255,255,0.5);
}

.section-button{
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
}
.button{
    width: 165px;
    height: 60px;
    border-top: 4px solid white;
    border-bottom: 4px;
    border-left: none;
    border-right: none;
    color: #ffffff;
    border-radius: 4%;
    font-weight: bold;
    font-size: 12px;
}
.first-button{
    background-color: #18cfab;
    margin-right: 30px;
    margin-top: 140px;
    margin-bottom: 250px;
}
.loadMore{
    width: 165px;
    height: 60px;
    border-bottom: 4px;
    border-left: none;
    border-right: none;
    color: #ffffff;
    border-radius: 4%;
    font-weight: bold;
    font-size: 12px;
    background-color: #18cfab;
    margin-right: 30px;
    margin-top: 140px;
    margin-bottom: 130px;

}
.loadMoreSecond{
    width: 165px;
    height: 60px;
    border-bottom: 4px;
    border-left: none;
    border-right: none;
    color: #ffffff;
    border-radius: 4%;
    font-weight: bold;
    font-size: 12px;
    background-color: #18cfab;
    margin-right: 30px;
    margin-top: 140px;
    margin-bottom: 130px;
    /*display: none;*/
}
.second-button{
    background-color: #00cbf6;
    width: 165px;
    height: 60px;
    margin-top: 140px;
    margin-bottom: 250px;
}

.section-second{
    display: flex;
}

.activity {
    width: 25%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: bolder;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.green-background{
    background-color: #18cfab;
    border-top: 6px solid #ffffff;
}

.dark-background{
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;
}

.section-second-text {
    font-size: 20px;
}

.section-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.section-third-text{
    font-size: 35px;
    color: #4e4e4e;
}
.section-bn-text{
    font-size: 35px;
    color: #4e4e4e;
}
.section-bn-text:after{
    content: url("img/lines.png");
    height: 1px;
    width: 75px;
    display: flex;
    margin: 0 auto;
}

.section-oaw-text{
    margin-top: 100px;
    font-size: 35px;
    color: #4e4e4e;
}
.section-oaw-text:after{
    content: url("img/lines.png");
    height: 1px;
    width: 75px;
    display: flex;
    margin: 0 auto;
}

.section-third-text:before{
    content: url("img/lines.png");
    height: 1px;
    width: 75px;
    position: absolute;
    margin-top: 35px;
    margin-left: 60px;


}



.section-third-menu{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.our-services-menu{
    width: 192px;
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
    height: 70px;
    color: #717171;
    text-align: center;
    border: 1px solid #ebebeb;
    align-items: center;
    justify-content: center;
}
.el0:hover:before{
    left: 50px;
}
.el1:hover:before{
    left: 60px;
}
.el2:hover:before{
    left: 60px;
}
.el3:hover:before{
    left: 50px;
}
.el4:hover:before{
    left: 70px;
}
.el5:hover:before{
    left: 45px;
}


.our-services-menu:hover{
    background-color: #18cfab;
    color: #ffffff;
}

.our-services-menu:hover:before{
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #18cfab;
    position: relative;
    margin-top: 79px;
}

.third-content{
    /*display: flex;*/
    padding-bottom: 100px;
    display: none;
}
.third-content.active{
    display: flex;
}
.x{
    margin-bottom: 130px;
}
.content-img{
    width: 195px;
    height: 140px;
    background-size: 100%;
}

.content-text{
    width: 80%;
    font-size: 14px;
    text-align: justify;
    margin-left: 20px;
    color: #777777;
}

.second-background{
    background: rgba(0, 0, 0, .65) url("img/Layer 2@1X.png") fixed;
    opacity:20;
    background-blend-mode: darken;
}
.second-background-title{
    font-size: 40px;
    padding-top: 125px;
    padding-bottom: 35px;
}

.second-background-text{
    font-size: 15px;
    padding-bottom: 76px;
    color: #d8d8d8;
}

.second-background-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-menu{
    width: 600px;
    display: flex;
    margin-top: 100px;
    font-size: 16px;
    color: #717171;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ebebeb;
    margin-bottom: 70px;
}

.li-img-box{
    border-right: 1px solid #ebebeb;
    height: 60px;
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.z{
    border-right: none;
}

.li-img-box:hover{
    color: #18cfab;
    box-shadow: 0 -2px 0 #18cfab;
}

.bgc{
    background-color: #f8fcfe;
}

.img-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-block-1{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}
.moreBox{
    display: flex;
    /*margin-bottom: 100px;*/
}
.moreBoxSecond{
    display: flex;
    margin-bottom: 230px;
}

.img{
    background-image: url("img/graphic design/graphic-design1.jpg");
    width: 285px;
    height: 210px;
    background-repeat: no-repeat;
    position:relative;
    transition: all 2s;
    display: none;
}
.show {
    display: flex;
}
.img-2{
    background-image: url("img/graphic design/graphic-design2.jpg");
}
.img-3{
    background-image: url("img/graphic design/graphic-design3.jpg");
}
.img-4{
    background-image: url("img/graphic design/graphic-design4.jpg");
}
.img-5{
    background-image: url("img/graphic design/graphic-design5.jpg");
}
.img-6{
    background-image: url("img/graphic design/graphic-design6.jpg");
}
.img-7{
    background-image: url("img/graphic design/graphic-design7.jpg");
}
.img-8{
    background-image: url("img/graphic design/graphic-design8.jpg");
}
.img-9{
    background-image: url("img/graphic design/graphic-design9.jpg");
}
.img-10{
    background-image: url("img/graphic design/graphic-design10.jpg");
}
.img-11{
    background-image: url("img/graphic design/graphic-design11.jpg");
}
.img-12{
    background-image: url("img/graphic design/graphic-design12.jpg");
}

.img:hover .reverse{
    display: block;
}
.reverse{
    background-color: #FFFFFF;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    display: none;
    text-align: center;
}
.circle-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #18cfab;
}
.circle-button:hover{
    background-color: #FFFFFF;
    color: #18cfab;
}
.right{
    margin-right: 5px;
}

.flex{
    display: flex;
}

.inherit-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    box-shadow: 0 -2px 0 #18cfab;
}
.plus{
    font-size: 18px;
}

.section-four{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.breaking-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.breaking-news-img{
    background-image: url("img/section-four-img/1.png");
    height: 208px;
    width: 265px;
}
.block{
    margin-right: 28px;
    margin-bottom: 45px;
}
.m{
    margin-right: 0;

}
.block-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    align-content: space-around;
    background-color: #f8fcfe;
}
.block-text-under{
    display: flex;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 12px;
}
.block-text-up{
    padding-top: 14px;
    font-size: 18px;
font-weight: bolder;
}
.calendar{
    float: right;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.block:hover .block-text-up{
color: #18cfab;
    transition: 1s;

}
.block:hover .calendar{
    background-color: #18cfab;
    transition: 1s;
}

.by-admin{
    padding-right: 5px;
    border-right: 1px solid #777777;
}

.comment{
    padding-left: 5px;
  }

.bn2{
    background-image: url(img/section-four-img/2.png);
}
.bn3{
    background-image: url(img/section-four-img/3.png);
}
.bn4{
    background-image: url(img/section-four-img/4.png);
}
.bn5{
    background-image: url(img/section-four-img/5.png);
}
.bn6{
    background-image: url(img/section-four-img/6.png);
}
.bn7{
    background-image: url(img/section-four-img/7.png);
}
.bn8{
    background-image: url(img/section-four-img/8.png);
}

.section-background-third{
    background-image: url(img/Sections-background/section-3.jpg);
}
.section-last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-last-text{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 35px;
    font-weight: bolder;
}
.section-last-text-2{
    color: #bbbbbb;
}
.section-last-text:after{
    content: url("img/lines.png");
    height: 1px;
    width: 75px;
    display: flex;
    margin: 0 auto;
    box-shadow: #18cfab;
}

.section-last-text-2:before{
    content: url("img/Forma 1@1X.png");
    height: 30px;
    width: 45px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 45px;
}

.mySlides {
    background-image: url(img/portret-img/1.jpg);
    width: 145px;
    height: 145px;
    margin-top: 250px;
    background-size: 100%;
    border-radius: 50%;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 12px  rgba(17,76,75,1);
    display: flex;
}


.prev, .next{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    color: #bbbbbb;
    background: none;
    font-size: 20px;
}
.prev:hover{
    background-color: #18cfab;
}
.next:hover{
    background-color: #18cfab;
}
.slideshow-container{
    display: flex;
    align-items: center;

}
.next{
    margin-left: 25px;
    margin-right: 0;
}

.people-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.about{
    color: #bbbbbb;
}
.dot:hover{
    transition: 0.7s;
    border: 1px solid #18cfab;
    transform: translate(0,-10px);
    -webkit-transform: translate(0,-10px);
    -o-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    cursor: pointer;
}

.dot{
    margin-top: 65px;
    width: 65px;
    height: 65px;
    margin-right: 35px;
    margin-bottom: 105px;
    border: 0 solid #18cfab;
    box-shadow: 0 0 0 6px  rgba(17,76,75,1);
    background-image: url(img/portret-img/2.jpg);
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
}
.face-1{
    background-image: url("img/portret-img/1.jpg");
}
.face-2{
    background-image: url("img/portret-img/2.jpg");
}
.face-3{
    background-image: url("img/portret-img/3.jpg");
}
.face-4{
    background-image: url("img/portret-img/4.jpg");
    margin-right: 0;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aeaeae;
    font-size: 14px;
    background-color: #22353f;
    height: 110px;

}

.r{
    display: none;
}
.about-people{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 300px;
    right: 480px;
    width: 1100px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.size{
    margin-top: 45px;
}

.grid {
    max-width: 1160px;
    margin: 0 auto;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    width: 370px;
    height: 260px;
    float: left;
    background-image: url("img/msnry/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /*margin-right: 15px;*/
}
.grid-item--width2 { width:  370px; }
.grid-item--height2 { height: 380px; }
.msnry-img-2 {
    background-image: url(img/msnry/2.png);
}
.grid-item--width3 { width:  180px; }
.grid-item--height3 { height: 170px; }
.msnry-img-3 {
    background-image: url(img/msnry/3.png);
    /*margin-right: 3px;*/
    margin-bottom: 3px;

}
.msnry-img-4 {
    background-image: url(img/msnry/4.png);
    margin-right: 0;
    margin-bottom: 3px;
}
.grid-item--width4 { width:  120px; }
.grid-item--height4 { height: 90px; }
.msnry-img-5 {
    background-image: url(img/msnry/5@1X.png);
    /*margin-right: 3px;*/
    margin-bottom: 3px;
}

.marginReset{
    margin: 0;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #dfc;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
