*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
.right{
    padding-top: 27px;
}
:root {
    --white: #ffffff;
    --green: #acd8ad;
    --grey: #3f4043;
    --blue: #a6d6e0;
}
.menu-logo{
    display: none;
}
.header-logo{
    display: none;
}
.container {
    max-width: 320px;
    margin: 0 auto;
}
.touch{
position: relative;
    bottom: 2px;

    padding-right: 4px;
}
.header{
    background-color: var(--grey);
    height: 37px;

}
.header-menu{
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    width: 320px;
    align-items: center;
    color: #bbbcbd;
}
.header-logo{
    margin-right: 40px;
}
.header-menu-li{
    font-size: 8px;
    /*padding-right: 30px;*/
}
.header-main{
    background-image: url(img/header-fon@1X.png);
    height: 173px;
    background-size: cover;
}
.header-main-text{
    display: flex;
    flex-direction: column;
}
.header_hamburger{
    background-color: #202529;
    display: flex;
    width: 41px;
    height: 37px;
    justify-content: center;
    align-items: center;
}
.header-menu-li{
    display: none;
}
.header_hamburger:hover.header-menu-li{
    display: flex;
    flex-direction: row;
}
#nav-icon3 {
    width: 20px;
    height: 8px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-icon3 span {
    /*display: block;*/
    position: absolute;
    height: 20%;
    width: 70%;
    background: var(--white);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 5px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 11px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

.header-main-text--pizza{
    color: var(--white);
    padding-left: 19px;
    text-align: left;
    padding-top: 13px;
    font-size: 16px;
}
.pizza_down{
    padding-top: 3px;
}
.header-main-text--link{
    color: var(--blue);
    padding-left: 20px;
    padding-top: 7px;
    font-size: 14px;
    text-align: left;
}
.section--function{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.section-block{
    background-image: url(img/Pizza-delivery.png);
    background-size: 100%;
    width: 100%;
    /*height: 400px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    color: var(--white);
}
.block-delivery{
    padding-bottom: 8px;
}
.section_block-text{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .btn{
        height: 75px;
        color: var(--white);
        font-size: 25px;
        width: 23%;
        background-color: var(--green);
    }
.salads{
    background-image: url(img/Salads.png);
}
.desserts{
    background-image: url(img/Desserts.png);
}
.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
}
.menu--title{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-bottom: 12px;
}
.menu-title--text{
    font-size: 20px;
    text-align: left;
}
.menu-title-text--ghost{
    font-size: 7px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
}
.menu-choose{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    flex-wrap: nowrap;
}
.menu{
    height: 37px;
    display: flex;
    align-items: center;
}
.menu-text{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 22px;
    height: 37px;
    letter-spacing: -1px;
}
.menu--left{
    background-color: var(--grey);
    color: var(--green);
}
.menu--right{
    background-color: var(--green);
    color: var(--white);
}
.grid{
    /*padding-left: 16px;*/
    padding-right: 18px;
    padding-top: 12px;
}
.menu-food{

    display: flex;
    flex-direction: column;
}
.menu-food--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-m{
    letter-spacing: 0.9px;
    padding-left: 16px;
    font-size: 9px;
}
.menu-frost{
    width: 25px;
    height: 25px;
}
.menu-wine{
    width: 13px;
    height: 24px;
    padding-right: 7px;

}
.grid-right{
    padding-right: 20px;
    padding-top: 15px;
}
.menu-cup{
    width: 30px;
    height: 21px;
}
.menu-beer{
    width: 20px;
    height: 21px;
    padding-right: 4px;
}
.menu-item{
    padding-top: 15px;
    padding-left: 15px;
    letter-spacing: 0.1px;
}
.menu-item-right{
    padding-top: 15px;
    padding-left: 15px;
}
.menu-logo{
    padding-right: 12px;
}
.menu-item--list{
    display: flex;
    flex-direction: column;
}
.name-food{
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
}
.menu-list{
    font-size: 13px;
    text-align: left;
}
.top-bottom{
    padding-top: 15px;
    letter-spacing: 0.8px;
    font-size: 9px;
    padding-left: 16px;
}
.price{
    font-size: 14px;
    font-weight: bolder;
}
.footer{
    background-color: var(--green);
    margin-top: 30px;
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-logo{
    padding-left: 35px;
}
.footer--text{
    color: var(--white);
    align-items: center;
    padding-top: 8px;
    font-size: 13.5px;
}
.footer--text-bottom{
    padding-bottom: 10px;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.food-info{
    font-size: 8px;
    padding-top: 6px;
    letter-spacing: 0.5px;
    line-height: 11px;
}

.top-padding{
    padding-top: 7px;
}


.ul-item{
    padding: 0;
    margin-right: 20px;
}


/*@media (max-width: 320px) {*/
/*    .section--function {*/
/*        flex-direction: column;*/
/*    }*/
/*    .section-block{*/

/*    }*/
    .navigation{
        padding-left: 16px;
        font-size: 14px;
    }
    #myLinks{
        width: 184px;
        float: right;
        /*padding-right: 23px;*/
        /*padding-top: 45px;*/
        background-color: var(--white);
        color: var(--grey);
    }
    .menu_item_active{
        width: 161px;
        padding-top: 13px;
        border-bottom: 1px solid #f3f3f3;
        padding-left: 12px;
        font-size: 10px;
        padding-bottom: 6px;
        letter-spacing: -0.4px;
        display: flex;
        align-items: center;
    }
    .menu_item_active:hover{
        background-color: #f5f5f5;
    }
.menu_item:hover{
    background-color: #f5f5f5;
}
.menu_item{
    display: flex;
    align-items: center;
    padding-left: 12px;
    height: 31px;
    font-size: 10px;
    border-bottom: 1px solid #f3f3f3;

}

.header-menu #myLinks {
    display: none;
}
.header-menu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.mobile-container {

    margin: auto;
    background-color: var(--grey);
    color: white;
}
.fa-bars{
    font-size: 20px;
    color: var(--white);
}
.topnav {
    width: 320px;
    overflow: hidden;
    padding-top: 37px;
    position: relative;
    left: 44px;
}
.color{
    color: var(--white);
    font-size: 14px;
    padding-left: 16px;
    padding-top: 9px;
}
.topnav #myLinks {
    display: none;
}

.nav{
    /*width: 80%;*/
    display: flex;
}
.icon {
    color: #444444;
    /*padding: 13px 17px;*/
    /*line-height: 6px;*/
    height: 37px;
    width: 44px;
    text-decoration: none;
    font-size: 10px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: #676767;
}

.active {
    background-color: var(--grey);
    color: white;
}
.footer-logo{
    display: none;
}


/*}*/
/*@media (min-width: 640px) {*/
/*    .section--function {*/
/*        flex-direction: row;*/
/*    }*/
/*    .section-block{*/
/*        width: 400px;*/
/*    }*/
/*}*/
