*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
button{
    cursor: pointer;
}
.btn{
    display: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
:root {
    --white: #ffffff;
    --green: #acd8ad;
    --grey: #3f4043;
    --blue: #a6d6e0;
}

.container {
    width: 980px;
    margin: 0 auto;
}
.touch{
    position: relative;
    bottom: 7px;
    padding-right: 4px;
}
.header{
    background-color: var(--grey);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-menu{
    display: flex;
    justify-content: left;
    margin-left: 35px;
    color: #bbbcbd;
}
.header-logo{
    margin-right: 40px;
}
.header-menu-li{
    padding-right: 30px;
}
.header-main{
    background-image: url(img/header-fon@1X.png);
    height: 530px;
    background-size: 100%;
}
.header-main-text{
    /*width: 691px;*/
}
.header-main-text--pizza{
    color: var(--white);
    padding-top: 79px;
    padding-left: 35px;
    text-align: left;
    line-height: 0;
    font-size: 53px;
}
.pizza_down{

}
.header-main-text--link{
    color: var(--blue);
    padding-top: 70px;
    padding-left: 30px;
    font-size: 34px;
    text-align: left;
}
.section--function{
    display: flex;
    margin-top: 5px;
}
.section-block{
    background-image: url(img/Pizza-delivery.png);
    background-size: 100%;
    width: 33.3%;
    height: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    color: var(--white);
}
.salads{
    background-image: url(img/Salads.png);
}
.desserts{
    background-image: url(img/Desserts.png);
}
.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    padding-bottom: 12px;
}
.menu--title{
    display: flex;
    flex-direction: column;
    padding-left: 28px;
}
.menu-title--text{
    font-size: 33px;
    text-align: left;
}
.menu-title-text--ghost{
    font-size: 14pt;
    color: rgba(203, 204, 206, 255);
    text-align: left;
}
.menu-choose{
    display: flex;
    padding-bottom: 20px;
    flex-wrap: nowrap;
}
.menu{
    height: 75px;
    display: flex;
    align-items: center;
}
.menu-text{
    padding-left: 18px;
    font-size: 36px;
    letter-spacing: -1px;
}
.menu--left{
    background-color: var(--grey);
    color: var(--green);
    width: 496px;
    /*width: 52%;*/
}
.menu--right{
    background-color: var(--green);
    color: var(--white);
    width: 485px;
}
.grid{
    padding-left: 20px;
}
.menu-food{

    display: flex;
    flex-direction: column;
}
.menu-food--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    letter-spacing: 1px;
    font-size: 16px;
}
.top-x{
    /*padding-top: 26px;*/
    /*letter-spacing: 1px;*/
    font-size: 15px;
}
.menu-frost{
    width: 42px;
    height: 42px;
    padding-right: 15px;
}
.menu-wine{
    width: 27px;
    height: 48px;
    padding-right: 21px;
}
.grid-right{
    padding-left: 15px;
    padding-right: 20px;
}
.menu-cup{
    width: 56px;
    height: 39px;
}
.menu-beer{
    width: 40px;
    height: 39px;
}
.menu-item{
    padding-top: 34px;
}
.menu-item-right{
    padding-top: 35px;
}
.menu-logo{
    padding-right: 28px;
    height: 89px;
    width: 109px;
}
.menu-item--list{
    display: flex;
    flex-direction: column;
}
.name-food{
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
}
.menu-list{
    font-size: 24px;
    text-align: left;
}
.top-bottom{
    padding-top: 34px;
    letter-spacing: 1px;
    font-size: 15px;
}
.price{
    font-size: 25px;
    font-weight: bolder;
    padding-right: 12px;
}
.footer{
    background-color: var(--green);
    margin-top: 44px;
    height: 98px;
}
.footer-logo{
    padding-left: 35px;
}
.footer--text{
    padding-right: 35px;
    color: var(--white);
    font-size: 16px;
    text-align: left;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.food-info{
    font-size: 16px;
    padding-top: 10px;
}

.top-padding{
    padding-top: 22px;
}
.flex-center{
    display: flex;
    justify-items: center;
}

.ul-item{
    padding: 0;
    margin-right: 20px;
}
.navigation{
    display: none;
}

.mobile-container{
    display: none;
}
.reset{
    padding-top: 0;
}