* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header-up{
    height: 80px;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header{
    display: flex;
    font-size: 20px;
    color: #dddddd;
    padding-left: 30px;
}

.logo-header-title{
    margin-left: 28px;
}

.menu-header{
 display: flex;
    font-size: 15px;
    justify-content: space-between;
    width: 660px;
    color: #dddddd;
    font-weight: bolder;

}
a{
    text-decoration: none;
color: #dddddd;
}

.search-header{
    width: 80px;
    height: 80px;
    background-color: #171a1c;
    border-color: #171a1c;
    font-size: 18px;
    color: #dddddd;
    cursor: pointer;
}

.town{
    background-image: url(img/html_css_homework_homework6_img_header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #ffffff;
}
.town-inside{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 380px;
}
.button-icon{
    height: 55px;
    width: 170px;
    font-size: 18px;
    color: #ffffff;
    background-color: #89ca62;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}
.blue{
    background-color: #14b9d5;
}
.main-content{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 28px;
    color: #18b4cf;
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}
.main-img{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.main-item-1{
    margin-right: 30px;
    margin-top: 30px;
}

.bottom{
    margin-bottom: 70px;
}

.main-img-block1{
display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
}

.main-item-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    background-color: #ffffff;
    height: 60px;
    font-weight: bold;
}

.footer{
    background-image: url(img/footer.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    font-weight: bold;
}
.footer-line{
    grid-column: 2/4;
    grid-row: 3/4;

}
.footer-line:after{
    content: '';
    border-bottom: 3px solid #169cb4;
}

.travel-list-text{
    padding-right: 30px;
}

.travel-list-text-right{
    padding-left: 30px;
}

.c2r1{
    grid-column: 2/4;
    grid-row: 1/2;
    color: #ffffff;
    font-size: 32px;
}
.cr-line{
    grid-column: 2/4;
    grid-row: 3/4;
    border-top: 3px solid #169cb4;
    width: 60px;
    justify-self: center;
}
.c1r3{
    grid-column: 1/2;
    grid-row: 5/6;
}
.c2r3{
    grid-column: 2/3;
    grid-row: 5/6;
}

.c3r3{
    grid-column: 3/4;
    grid-row: 5/6;
}

.c4r3{
    grid-column: 4/5;
    grid-row: 5/6;
}
.section-topRate{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
}
.container{
    width: 1180px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}
.section-hotNews-text{
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
    color: #18b4cf;
    font-size: 30px;
    font-weight: bold;
}


.section-topRate-text{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
    color: #18b4cf;
    font-size: 30px;
    font-weight: bold;
}
.a1b3{
    grid-column: 1/2;
}
.a2b3{
    grid-column: 2/3;

}
.a3b3{
    grid-column: 3/4;

}
.a4b3{
    grid-column: 4/5;
}

.a5b3{
    grid-column: 5/6;
}
.a6b3{
    grid-column: 6/7;
}
.a7b3{
    grid-column: 7/8;
}

.topRate-img{
    grid-row: 2/3;
    width: 100%;
}

.hotNews-items{
    display: flex;
    justify-content: center;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.main-text-items{
    background-color: #f9f7f7;
    font-size: 18px;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.text-down{
    font-size: 14px;
    color: #afb2b5;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.x1z1{

}
.x2z1{
    height: 260px;
    background-color: #f9f7f7;
    padding-left: 25px;
}
.x3z1{
    grid-column: 3/4;
    background-color: #f9f7f7;
    justify-self: end;
}
.under-text{
    text-align: center;
    font-size: 18px;
    background-color: #f9f7f7;
}


.travel-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.q1w1{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin-top: 45px;

}
.travel-list-img{

}
.q2w1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
margin-top: 45px;
}
.q1w2{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin-top: 45px;
}
.q2w2{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    margin-top: 45px;
}

.n1p1{
    grid-column: 1/2;
    background-color: #f9f7f7;
    justify-self: start;
}

.n2p1{
    grid-column: 2/3;

}

.n3p1{
    grid-column: 3/4;
    height: 260px;
    background-color: #f9f7f7;
}

.items-footer-img{
    margin-top: 60px;
}

.footer-end{
    height: 80px;
    background-color: #1d2124;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
}

.footer-end-c{
    grid-column: 2/5;
    font-size: 12px;
    color: #dddddd;
    justify-self: center;
    /*padding-left: 135px;*/
}
.footer-end-logo{
    grid-column: 7/8;
    color: #dddddd;
    display: flex;
    justify-self: start;
    font-weight: bolder;
}
.footer-end-logo:before{
    content: url("img/Vector Smart Object copy 3@1X.png");
}
.center{
    width: 1170px;
}