*{
    padding: 0;
    margin: 0;
}
.list-item{
    width: 50px;
    height: 10px;
    border: 1px solid black;
    list-style: none;
}
.list{
    padding: 0;
    list-style: none;
    font-size: 0;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

@media (min-width: 700px) {
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .list-item{
        display: inline-block;
    }
}

@media (min-width: 1000px) {
    .list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .list-item{
        display: inline-block;
    }
}