*{
    padding: 0;
    margin: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
}
.header_logo-img{
    height: 48px;
    margin: 6px 0;
}
.header_logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header_menu{
    padding: 0;
    margin: 0;
}
.header_hamburger-helper{
    position: absolute;
    top: 0;
    left: 0;
}
.menu-item{
    font-size: 18px;
}
.menu-link{
    text-decoration: none;
    list-style: none;
    color: #18cfab;
}

.header_nav--opened{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}